/*


	 __    __     ______     _____     __     ______     ______     __   __    
	/\ "-./  \   /\  __ \   /\  __-.  /\ \   /\  ___\   /\  __ \   /\ "-.\ \   
	\ \ \-./\ \  \ \  __ \  \ \ \/\ \ \ \ \  \ \___  \  \ \ \/\ \  \ \ \-.  \  
	 \ \_\ \ \_\  \ \_\ \_\  \ \____-  \ \_\  \/\_____\  \ \_____\  \ \_\\"\_\ 
	  \/_/  \/_/   \/_/\/_/   \/____/   \/_/   \/_____/   \/_____/   \/_/ \/_/ 
	  
    ______     __   __   ______     __   __     __  __     ______    
   /\  __ \   /\ \ / /  /\  ___\   /\ "-.\ \   /\ \/\ \   /\  ___\   
   \ \  __ \  \ \ \'/   \ \  __\   \ \ \-.  \  \ \ \_\ \  \ \  __\   
    \ \_\ \_\  \ \__|    \ \_____\  \ \_\\"\_\  \ \_____\  \ \_____\ 
     \/_/\/_/   \/_/      \/_____/   \/_/ \/_/   \/_____/   \/_____/ 
                                                                                                                                                

 */

/* ===========================================================================================
 *	 http://meyerweb.com/eric/tools/css/reset/ 
 *  v2.0 | 20110126
 *  License: none (public domain)
 *  Reset Css
 * =========================================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	/*overflow-y:scroll;*/
}
body {
	font-family: 'Noto Sans', sans-serif; font-size:13px; color:#fff;
	line-height: 1; letter-spacing:-0.25px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Adding Css Code */
a {
	font-family: 'Noto Sans', sans-serif; font-size:13px; font-weight:300; color:#777;
	text-decoration: none;
}
a:active{background:transparent;}
input {
	margin:0;
	padding:0;
	font-family: 'Noto Sans', sans-serif; font-size:13px; font-weight:300; color:#777;
}
input[type=text],
input[type=password] {height:32px;line-height:32px; border:1px solid #d3d0cf;}
input[type=submit], input[type=image], button{
	cursor: pointer;
	border:0;
}
select{font-family: 'Noto Sans', sans-serif; font-size:13px; font-weight:300; color:#777;}
input,
label,
selectbox {vertical-align:middle;}
img{display:block;}
address{font-style:normal;}
strong, h1{color:#231f20; font-weight:bold;}
table{width:100%;}

/*  custom  */
html, body{width:100%; height:100%;}
.wrap{width:100%; height:100%; /*min-width:980px; min-height:650px;*/ overflow:hidden; position:relative;}

.bg_area{width:100%; height:100%; overflow:hidden;}

.bg_area:after{content:""; display:block; width:100%; height:100%; background:url(../images/bg_dot.png); position:absolute; top:0; left:0;}

	.bg{width:100%; /*min-width:1800px;*/ height:100%; position:absolute; top:0; left:0; display:none;}
	.bg.wide img{width:100%; /*height:100%;*/}
	.bg.narrow img{/*width:100%;*/ height:100%;}
	.bg .movie{width:100%; min-width:1800px; position:absolute; top:0; left:0;}

.logo_area{width:100%; height:50px; position:absolute; left:0; top:0;}
.logo_area img{width:100%;}
	.logo{position:absolute; width:60px; left:20px; bottom:0;}
	.sub_logo{position:absolute; width:40px; right:20px; bottom:0;}

.content_area{width:100%; height:100%; position:absolute; top:0; left:0;}
	.page_area{width:40px; height:40px; position:absolute; top:20px; left:50%; margin:0 0 0 -20px;
		background:url(../images/bg_page.png) no-repeat center; font-size:13px; color:#03e0be; background-size:cover;
	}
		.current_page{position:absolute; left:3px; top:3px;}
		.total_page{position:absolute; right:3px; bottom:3px;}

	.text_crop{width:100%; height:100%; max-width:980px; position:relative; margin:0 auto;}
		.text_area{width:100%; position:absolute; top:50%; left:0;}
		.text_area.content_2{top:0; height:100%; padding:110px 0; box-sizing:border-box;}
		.text_area>img{width:100%;}
		.text_area .content_2_wrap{position:relative; width:100%; max-width:720px; height:100%; margin:0 auto; box-sizing:border-box; overflow:hidden;}
		.text_area .content_2_wrap .content_frame{/*height:100%;*/ position:absolute; top:0; left:0;}
		.text_area .content_2_wrap .content_frame img{width:100%;}
		.info{/*width:648px; margin:50px auto 0;*/padding:10px 30px 0;}
		.info:after{content:""; display:block; clear:both;}
		.info label{display:block; float:left; width:55px; height:25px; line-height:25px; margin:0; padding:5px 0 0 0; color:#03e0be; font-size:12px; position:absolute; left:0;}
		.info input{display:block; float:left; margin:0; width:100%; height:25px; border:none; border-bottom:1px solid #03e0be; background:transparent;
			font-size:12px; color:#03e0be; font-family:'돋움', sans-serif;
		}

			.info_title{margin-bottom:20px; max-width:648px; margin:0 auto; max-width:342px;}
			.info_title img{width:100%;}
			
			.info_left{float:left; width:100%;}
			.info_left>div{padding-left:50px; position:relative; width:100%; box-sizing:border-box;}
			.info_left>div:after{content:""; display:block; clear:both;}
			
			.info_content{width:100%; margin-top:5px; float:left; box-sizing:border-box; position:relative;}
			.info_content:after{content:""; display:block; clear:both;}
			.info_content label{/*line-height:1;*/ padding-top:0; position:relative;}
			.info_content textarea{display:block; float:left; margin:0; border:1px solid #03e0be; background:transparent; width:100%; height:100px;
				font-family:'돋움', sans-serif; font-size:15px; color:#03e0be;
			}
			
			.btn{clear:both; display:block; width:100px; height:27px; text-indent:-99999em;
				background:url(../images/content_6_btn.png) no-repeat 0 0; background-size:cover; margin:10px auto 0; 
			}
			
		.map_wrap{/*width:750px; margin:50px auto 0;*/}
		.map_wrap:after{content:""; display:block; clear:both;}
		.map_wrap label{display:block; float:left; width:55px; height:25px; line-height:25px; margin:0; padding:5px 0 0 0; color:#03e0be;}
		.map_wrap input{display:block; float:left; margin:0; width:250px; height:25px; border:none; border-bottom:1px solid #03e0be; background:transparent;
			font-size:13px; color:#03e0be; font-family:'돋움', sans-serif;
		}
			
			.info_title.map{text-align:center; margin-bottom:20px; max-width:394px;}
			.info_title.map img{display:inline-block; width:100%;}
			.info_content.map{/*width:750px;*/ height:200px; border:1px solid #03e0be; margin:0 auto; float:none; overflow:hidden; position:relative;}
			.info_content.map a{display:block; position:relative; top:50%; left:50%; margin:-100px 0 0 -210px;}
			.info_content.map p{position:absolute; top:10px; left:10px; padding:2px; color:#03e0be; font-family:'돋움', sans-serif; font-size:11px;
				background-color:#000;
			}
			.contact{width:247px; height:27px; margin:20px auto 0;}
			
			
	
	.page_dot{position:absolute; width:138px; height:11px; bottom:20px; left:50%; margin-left:-69px;}
	.page_dot a{display:block; width:11px; height:11px; text-indent:-99999em; background:url(../images/bg_page_dot.png) no-repeat 0 0; float:left; margin-right:10px;}
	.page_dot a:last-child{margin-right:0;}
	.page_dot a.on{background-position:-22px 0;}
	
@media all and (max-width:767px){
/*
	.logo_area{height:40px;}
	.page_area{width:35px; height:35px; top:55px; left:20px; margin:0;}
	.current_page{left:0; top:0;}
	.total_page{right:0; bottom:0;}*/

}	

@media all and (min-width:550px) and (max-width:767px){
	
	.logo_area{height:40px;}
	.page_area{width:35px; height:35px; top:55px; left:20px; margin:0;}
	.current_page{left:0; top:0;}
	.total_page{right:0; bottom:0;}
	
	.text_area.content_2{padding:40px 0;}
	
	.info{padding:0 75px;}
	.info input{margin:5px 0 0;}
	.info_title{padding:0 76px;}
	.info_left{width:48%;}
	.info_content{float:right; width:48%;}
	.info_content textarea{width:100%; height:93px; padding:0;}
	
	.info_content.map{width:100%; height:100px;}
}

.loader{width:100%; height:100%; position:absolute; top:0; left:0; background:#000; z-index:9000; text-indent:-99999em;}
.loader .loading_image{width:100px; height:100px; position:absolute; top:50%; left:50%; margin:-50px 0 0 -50px; background:url(../images/loading_sprite.png) no-repeat 0 0;}

